<div class="overview-box__detail">
  <img
    src="/img/users/<%= guide.photo  %>"
    alt="Lead guide"
    class="overview-box__img"
  />
  <span class="overview-box__label"><%= guide.role %></span>
  <span class="overview-box__text"><%= guide.name %></span>
</div>
